@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');

:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(27, 27, 27);
  --third-color: rgb(5, 70, 168);
  --third-color-accent: rgb(80, 142, 212);

  --min-height: 100vh;

  --font-size-xxl: 40px;
  --font-size-l: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
a {
  text-decoration: none;
  list-style: none;
}

body,
header,
main,
footer {
  width: 100%;
}

body {
  font-family: "Sofadi One", system-ui;
  background: linear-gradient(to bottom right,
      var(--third-color-accent),
      var(--third-color));
  min-height: var(--min-height);
  color: var(--primary-color);
  padding: 0 5rem;
}

header {
  padding: 2rem 0;
}

header>h1 {
  font-size: var(--font-size-xxl);
}

.lists_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.list_card {
  width: 20rem;
  background-color: var(--primary-color);
  border-radius: 7px;
  color: var(--secondary-color);
  position: relative;
  text-align: center;
  padding: 1rem 0;
}

.btn_container {
  position: absolute;
  top: 3px;
  right: 10px;
}

.list_card>p {
  font-size: var(--font-size-l);
}

.add_list_btn {
  padding: 0 .5rem;
  background: transparent;
  color: var(--primary-color);
  border: 4px solid var(--primary-color);
  border-radius: 7px;
  font-size: 35px;
  font-weight: 600;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

.add_list_btn:hover {
  transform: scale(1.1);
}

main dialog {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 21rem;
  text-align: center;
  padding: 1.5rem 3.5rem;
  border-radius: 12px;
  background: rgb(253, 252, 252);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;

}

dialog::backdrop{
  background-color: rgba(0, 0, 0, 0.729);
}

dialog h4 {
  margin-bottom: 1rem;
  font-size: 20px;
  color: rgb(86, 85, 85);
}

dialog .form_group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;
}

.form_group input,
form button {
  border: 1px solid rgb(166, 164, 164);
  border-radius: 333px;
  width: 100%;
  padding: 0.4rem 0.8rem;
  outline: none;
}

.form_group input:invalid,
.form_group input:focus
{
  border: none;
  outline: 1px solid red;
}

.form_group input:valid{
  outline: 1px solid rgb(31, 248, 45);
}

form button {
  background-color: var(--third-color-accent);
  color: var(--primary-color);
  cursor: pointer;
  margin-top: 0.3rem;
}

.form_group button:hover {
  background-color: rgba(80, 141, 212, 0.825);
}

input::placeholder {
  font-weight: 700;
  font-size: 12px;
  color: rgb(136, 136, 136);
}

.close_dialog{
position: absolute;
top: 5px;
right: 10px;
font-weight: bold;
font-size: 21px;
}

/* Entfernt die Spinner-Pfeile bei Chrome, Edge und Safari */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Entfernt die Spinner-Pfeile bei Firefox */
.no-spinner[type="number"] {
  -moz-appearance: textfield;
}


.filter_container{
  width: 100%;
  padding: 0 1.5rem 2rem 1.5rem;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
}

.filter_container span{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 11px 22px;
  border: none;
  border-radius: 333px;
  cursor: pointer;
  z-index: 1;
  pointer-events: auto;
  opacity: 0.7;
  transform: opacity 0.3s;
}


.sort-menge.active,
.sort-preis.active,
.sort-name.active{
  transform: rotate(180deg);
}

.sort_menge.active,
.sort_preis.active,
.sort_name.active{
  opacity: 1;
}
